@model IEnumerable<RedeSocial.Apresentacao.Models.PostModels.PostViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Posts</h2>

<form action="/posts/create" method="post" enctype="multipart/form-data">
    <label>Escreve ai!!!</label><br />
    <input type="text" name="texto" value="" /><br />
    <input type="file" name="foto" value="" /><br />
    <input type="submit" value="Postar" /><br />
</form>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Texto)
                    <a href="/posts/details/@item.Id"><img src="@item.UrlImagem" href="" alt="Foto do post" /></a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
